.row-01-row {
  overflow-x: scroll;
  height: 30%;
}

.row-01-col {
  min-width: 65%;
  max-width: 65%;
}

div#row-01-card {
  height: 90%;
}

.row-01-title {
  font-size: small;
}

.row-01-header {
  font-size: small;
  padding: 5%;
}