.post-footer {
  border-top: solid #000;
  border-top-width: thin;
  border-top-style: dotted;
  border-color: red;
  padding-top: 2%;
  text-align: center;
}

.post-footer a {
  font-size: large;
  text-decoration: none;
}

.list-item {
  border-bottom: dotted;
  border-color: rgb(196, 30, 59);
  border-width: 1px;
}

.post-source {
  padding-left: 1%;
  font-size: medium;
}

.post-text {
  padding: 2%;
  padding-bottom: 4%;
  text-align: justify;
  text-transform: none;
  font-weight: 400;
  white-space: pre-line;
}

