<ion-header>
    <ion-navbar>
        <ion-title [innerHtml]="title"></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (refresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-down"
                pullingText="{{ 'PULL_TO_REFRESH' }}"
                refreshingSpinner="circles"
                refreshingText="{{ 'REFRESHING' }}">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <button ion-item *ngFor="let p of posts" (click)="openPost(p)">
            <h2 [innerHTML]="p.title.rendered"></h2>
            <div class="list-item">
                <img *ngIf="p._embedded['wp:featuredmedia']" [src]="p._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url" />
                <p [innerHTML]="p.excerpt.rendered" class="post-text"></p>
            </div>
        </button>
    </ion-list>

    <ion-infinite-scroll
            ng-if="moreDataExists()"
            on-infinite="loadMore()"
            distance="1%"
            immediate-check="false">
    </ion-infinite-scroll>

</ion-content>